.border{
    text-align: center;
    justify-items: center;
}

.cardd{
    background-color: #fdf9eec2;
    margin: 10px 50px 10px 50px;
}

.fotoo {
    width: 80px; 
    height: auto; 
    margin: 8px 20px 0px 25px;
}

.card-textt{
    text-align: center;
    font-size:small;
}